{#
  Classes
#}
{% set classes = ([
	'text-image-404-section lg:flex items-center sm:block md:flex',
  image_type == 'center_image' ? 'center-image',
]) %}

{% set attributes = attributes|default(create_attribute()).addClass(classes) %}

<section {{ attributes }}>
  <div class="text-404-error sm:w-full md:3/6 lg:w-3/6">
    {% block content %}
      <h1 class="font-primaryBold font-semibold text-6xl pt-4 pb-8 text-gray-700">{{ heading }}</h1>
      <p class="font-secondary leading-8 text-xl text-text-body">{{ text }}</p>
      <div class="buttons">
        {{ back_link }}
        {{ home_link }}
      </div>
  </div>
  <div class="error-image sm:w-full md:3/6 lg:w-3/6">
    {{ image }}
  {% endblock %} 
  </div>
</section>
